<nav>
    <div class="logo">⚽ FIFA Manager</div>
    <ul class="nav-links">
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/teams" routerLinkActive="active">Teams</a></li>
        <li><a routerLink="/players" routerLinkActive="active" class="player-db-link">Player Database</a></li>
        <li><a routerLink="/matches" routerLinkActive="active">Matches</a></li>
        <li><a routerLink="/terrain" routerLinkActive="active">Match Setup</a></li>
       </ul>
</nav>